            
body {
    background-color: lightseagreen;
}
hr {
    border-style: none;
    border-top-style: solid;
    border-color: grey;
    border-width: 5px;
    width: 100%;
}
h1 {
    color: blue;
}
h3 {
color: blue;
}
p {
    font-size: 150%;
}

td {
    font-size: 120%;
}
hr { 
    border-top: dotted grey 6px;
    border-bottom: none;
    width: 80%;
    margin: 100px auto;

}
